.btn-primary {
    background-color: #7ac7ad;
    border: none;
}

.btn-primary:hover {
    background-color: #666666;
}

.criteria {
    display: none;
}

.search-box {
    background-color: lightgray;
}

.search-buttons {
    margin-top: -.6rem;
}

#banner {
    background-color: #7ac7ad;
}

#filter-number {
    display: none;
}


#sex {
    display: block;
}